<header>
  <h1>My Lists</h1>
  <p><%= @lists.count %> lists</p>
</header>

<%= link_to 'Add a List', new_list_path, { class: %w[btn lrg cta], role: :link } if user_signed_in? %>

<hr />

<% if !@lists.nil? %>

  <% @lists.each do |list| %>
    <article id="list-<%= list.id %>">
      <header>
        <h1>
          <%= link_to list.name, user_signed_in? ? list_path(list) : user_list_path(params[:username], list.name.gsub(' ', '-')), role: :link %>
        </h1>
        <p><%= count_checked_items(list) %></p>
      </header>

      <%= simple_format list.desc %>

      <% if user_signed_in? %>
        <div class="admin">
          <ul>
            <li><%= link_to 'edit', edit_list_path(list), role: :link %></li>
            <li><%= link_to 'delete', list_path(list), { method: :delete, role: :link } %></li>
            <li><%= list.is_public ? :public : :private %></li>
          </ul>
        </div>
      <% end %>

    </article>

    <hr />
  <% end %>

<% else %>

  <p>There are currently no lists.<br />
  <%= raw "Why not create one #{ link_to :here, new_list_path, role: :link }?" if user_signed_in? %></p>

<% end %>