<header>
  <h1>My Lists</h1>
  <div id="list-count"><span><%= @lists.count %></span> lists</div>
</header>

<hr />

<%= link_to 'Add a List', new_list_path, { class: %w[btn btn-lrg btn-cta pad], role: :link } if user_signed_in? %>

<hr />

<% if @lists.any? %>

  <% @lists.each do |list| %>
    <article id="list-<%= list.id %>">
      <%= link_to '>', list_path(hyphenate(list.name)), { class: %w[btn-link hide-mobile], role: :link } %>

      <header>
        <h1>
          <%= link_to list.name, user_signed_in? ? list_path(hyphenate(list.name)) : 
                                                   user_list_path(params[:username], hyphenate(list.name)), role: :link %>
        </h1>
        <p><%= count_checked_items(list) %></p>
      </header>

      <%= simple_format(list.desc, class: :desc) %>

      <% if user_signed_in? %>
        <div class="admin">
          <ul>
            <li><%= link_to raw('<span class="icon icon-edit"></span>edit'), edit_list_path(list), class: :cta, role: :link %></li>
            <li>
              <%= link_to raw('<span class="icon icon-warn"></span>delete'), list_path(list), 
              { method: :delete, confirm: 'Are you sure? There\'s no going back after', class: :warn, role: :link } %>
            </li>
            <li><%= raw('<span class="icon icon-private"></span>private') if !list.is_public? %></li>
          </ul>
        </div>
      <% end %>

    </article>

    <hr />
  <% end %>

<% else %>

  <p>There are currently no lists.<br />
  <%= raw "Why not create one #{ link_to :here, new_list_path, role: :link }?" if user_signed_in? %></p>

<% end %>