<%= link_to 'Back to Lists', user_signed_in? ? lists_path : :back, { class: %w[btn pad], role: :link } %>

<hr />

<header>
  <h1><%= @list.name %></h1>
  <p><%= count_checked_items(@list) %></p>
</header>

<%= simple_format(@list.desc) if @list.desc? %>

<hr />

<% if @items.any? %>

  <section id="items">
    <% @items.each do |item| %>
      <article id="<%= item.id %>" role="article">
        <%= form_for item, { remote: true, url: update_checkbox_path(@list.user_id, @list.id, item.id), method: :put } do |f| %>
          <fieldset>
            <ol>
              <li><%= f.check_box :is_checked %></li>

              <li><%= f.submit :Save, class: %w[btn btn-cta checkbox-save] %></li>
            </ol>
          </fieldset>
        <% end %>

        <div class="item-details">
          <h1><%= item.name %></h1>
          <%= raw("<a href=\"#{item.url}\" class=\"item-url\"><span class=\"icon icon-link\"></span>#{item.url}</a>") if item.url? %>
          <%= simple_format(item.desc) if item.desc? %>
        </div>

        <% if user_signed_in? %>
          <ul class="admin">
            <li class="pull-tab"><span class="icon icon-pull-tab"></span></li>
            
            <li><%= link_to raw('<span class="icon icon-edit"></span>edit'), edit_list_item_path(item.list_id, item), 
                    { class: :cta, role: :link } %></li>
            <li>
              <%= link_to raw('<span class="icon icon-warn"></span>delete'), list_item_path(item.list_id, item), 
                  { method: :delete, confirm: 'Are you sure? There\'s no going back after', class: :warn, role: :link } %>
            </li>
          </ul>
        <% end %>
      </article>

      <hr />
    <% end %>
  </section>

<% else %>

  <p>No items have been created yet.</p>

<% end %>

<% if user_signed_in? %>
  <article id="add-item">
    <header>
      <h1>Add Item</h1>
    </header>

    <p class="no-top-margin">Add a new item here for it to be included in the list above.</p>

    <%= render template: 'items/_form' %>

  </article>
<% end %>