<%= link_to 'Back to Lists', lists_path, { class: :btn, role: :link } %>

<hr />

<header>
  <h1><%= @list.name %></h1>
  <p><%= count_checked_items(@list) %></p>
</header>

<%= simple_format(@list.desc) %>

<hr />

<% if @items.any? %>

  <section id="items">
    <% @items.each do |item| %>
      <article id="<%= item.id %>" role="article">
        <%= form_for item, { remote: true, url: update_checkbox_path(@list.user_id, @list.id, item.id), method: :put } do |f| %>
          <fieldset>
            <ol>
              <li><%= f.check_box :is_checked %></li>

              <li><%= f.submit 'Save' %></li>
            </ol>
          </fieldset>
        <% end %>

        <h1><%= item.name %></h1>
        <p><%= item.url %></p>
        <%= simple_format(item.desc) %>

        <% if user_signed_in? %>
          <ul class="admin">
            <li><%= link_to :edit, edit_list_item_path(item.list_id, item), role: :link %></li>
            <li><%= link_to :delete, list_item_path(item.list_id, item), { method: :delete, role: :link } %></li>
          </ul>
        <% end %>
      </article>

      <hr />
    <% end %>
  </section>

<% else %>

  <p>No items have been created yet.</p>

<% end %>

<% if user_signed_in? %>
  <header>
    <h1>Add Item</h1>
  </header>

  <%= render template: 'items/_form' %>

<% end %>