<header>
  <h1>Edit Details</h1>
</header>

<hr />

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <% if resource.errors.count > 0 %>
    <div id="errors">
      <p>Oops! There was <%= pluralize(resource.errors.count, 'error') %></p>

      <ul>
        <% resource.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Edit Details</legend>

    <ol>
      <li>
        <%= f.label :name, 'Full Name' %>
        <%= f.text_field :name, placeholder: 'Full Name' %>
      </li>

      <li>
        <%= f.label :username %>
        <%= f.text_field :username, placeholder: 'Username' %>
      </li>

      <li>
        <%= f.label :email, 'Email Address' %>
        <%= f.email_field :email, placeholder: 'Email Address' %>
      </li>

      <li>
        <%= f.label :password %> <small><i>leave blank if you don't want to change it</i></small>
        <%= f.password_field :password, { placeholder: 'Password', autocomplete: 'off' } %>
      </li>

      <li>
        <%= f.label :password_confirmation, 'Confirm Password' %>
        <%= f.password_field :password_confirmation, placeholder: 'Confirm Password' %>
      </li>

      <li>
        <%= f.label :current_password %> <small><i>we need your current password to confirm your changes</i></small>
        <%= f.password_field :current_password, placeholder: 'Current Password' %>
      </li>

      <li><%= f.submit "Update", class: %w[btn btn-cta btn-lrg] %></li>
    </ol>
  </fieldset>
<% end %>

<hr />

<%= link_to "Back to My Account", my_account_path, class: :btn %>
