<header>
  <h1>Login</h1>
</header>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <fieldset>
    <legend>Login</legend>

    <ol>
      <li>
        <%= f.label :email, 'Email Address' %>
        <%= f.email_field :email, placeholder: 'Email Address' %>
      </li>

      <li>
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: 'Password' %>
      </li>

      <% if devise_mapping.rememberable? -%>
        <li>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, 'Remember Me?', class: 'show-label' %>
        </li>
      <% end -%>

      <li><%= f.submit :Login, class: [:btn, :lrg, :cta] %></li>
    </ol>
  </fieldset>
<% end %>

<hr />

<p>
  <%= render 'devise/shared/links' %>
</p>
