<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Checkr</title>

    <%= stylesheet_link_tag :application, media: :screen %>

    <%= csrf_meta_tags %>

  </head>

  <body>
    <div id="wrapper">
      <header id="banner" role="banner">
        <h1><%= link_to 'Checkr', root_path, role: :link %></h1>
      </header>

      <section id="main" role="main">

        <% if notice %>
          <div id="notice">
            <%= notice %>
          </div>
        <% end %>

        <% if alert %>
          <div id="alert">
            <%= alert %>
          </div>
        <% end %>
      
        <%= yield %>

      </section>

      <footer id="contentinfo" role="contentinfo">
        <p>Adam Johnston &copy; 2013</p>
      </footer>

      <%= javascript_include_tag :application %>

    </div>
  </body>
</html>