<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Checkr</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700|Satisfy' rel='stylesheet' />
    <%= stylesheet_link_tag :application, media: :screen %>

    <%= csrf_meta_tags %>

  </head>

  <body>
    <div id="wrapper">
      <header id="banner" role="banner">
        <h1><%= link_to 'CheckR', root_path, { title: 'return to homepage', role: :link } %></h1>

        <nav role="navigation">
          <ul>
            <li>
              <%= link_to raw('<span class="icon-list"></span><span class="hide-mobile">My Lists</span>'), user_signed_in? ? lists_path : new_user_session_path, { title: 'my lists', role: :link } %>
            </li>

            <li>
              <%= link_to raw('<span class="icon-account"></span><span class="hide-mobile">My Account</span>'), user_signed_in? ? my_account_path : new_user_session_path, { title: 'my account', role: :link } %>
            </li>

            <li>
              <% if !user_signed_in? %>
                <%= link_to raw('<span class="icon-login"></span><span class="hide-mobile">Login</span>'), new_user_session_path, { title: :login, role: :link } %>
              <% else %>
                <%= link_to raw('<span class="icon-logout"></span><span class="hide-mobile">Logout</span>'), destroy_user_session_path, { title: :logout, method: :delete, role: :link } %>
              <% end %>
            </li>
          </ul>
        </nav>
      </header>

      <hr class="hide-mobile" />

      <section id="main" role="main">

        <% if notice %>
          <div id="notice">
            <%= notice %>
          </div>

          <hr />
        <% end %>

        <% if alert %>
          <div id="alert">
            <%= alert %>
          </div>

          <hr />
        <% end %>
      
        <%= yield %>

      </section>

      <hr class="hide-mobile" />

      <footer id="contentinfo" role="contentinfo">
        <p>Adam Johnston &copy; 2013</p>
      </footer>

      <%= javascript_include_tag :application %>

    </div>
  </body>
</html>