<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Checkr</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700|Lemon' rel='stylesheet' />
    <%= stylesheet_link_tag :application, media: :screen %>

    <%= csrf_meta_tags %>

  </head>

  <body>
    <div id="wrapper">
      <header id="banner" role="banner">
        <h1><%= link_to 'Checkr', root_path, role: :link %></h1>

        <nav role="navigation">
          <ul>
            <li>
              <%= link_to raw('<span class="icon-lists"></span><span class="hide-mobile">My </span>Lists'), user_signed_in? ? lists_path : new_user_session_path, role: :link %>
            </li>

            <li>
              <%= link_to raw('<span class="icon-account"></span><span class="hide-mobile">My </span>Account'), user_signed_in? ? my_account_path : new_user_session_path, role: :link %>
            </li>

            <li>
              <% if !user_signed_in? %>
                <%= link_to raw('<span class="icon-login"></span>Login'), new_user_session_path, role: :link %>
              <% else %>
                <%= link_to raw('<span class="icon-logout"></span>Logout'), destroy_user_session_path, { method: :delete, role: :link } %>
              <% end %>
            </li>
          </ul>
        </nav>
      </header>

      <hr />

      <section id="main" role="main">

        <% if notice %>
          <div id="notice">
            <%= notice %>
          </div>

          <hr />
        <% end %>

        <% if alert %>
          <div id="alert">
            <%= alert %>
          </div>

          <hr />
        <% end %>
      
        <%= yield %>

      </section>

      <hr />

      <footer id="contentinfo" role="contentinfo">
        <p>Adam Johnston &copy; 2013</p>
      </footer>

      <%= javascript_include_tag :application %>

    </div>
  </body>
</html>